<h1>Welcome to daftchat</h1>
<%= form_tag url_for(action: :authenticate) do %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3>
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
      </h3>
    </div>
  <% end %>

<h3>Which dafter are you?</h3>

<%= select_tag "id", options_from_collection_for_select(@users, "id", "name"), prompt: "Select a Name" %>

<div id="question">
<h3>Security Question</h3>
<h4 id="question_text"></h4>
<%= text_area_tag :answer %>
<br>
<%= submit_tag "Submit" %>
</div>

<% end %>






