<!DOCTYPE html>
<html>
<head>
  <title>Chatroom2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= image_tag "daft-logo.png" %>
<%= yield %>

</body>
</html>
